# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.claude
# SSH Keys
*.pem
*.key

# Secrets
.env
secrets/

# OS
.DS_Store
Thumbs.db

# Backup
*.backup
*.bak
*.tar.gz
